@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

$body-font-family: Pretendard, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";

$body-line-height: 1.4;
$content-line-height: 1.4;
$body-heading-line-height: 1.4;

$link-color: $blue-000;
