@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard-dynamic-subset.min.css");

$body-font-family: Pretendard, system-ui, -apple-system, blinkmacsystemfont, "Segoe UI", roboto, "Helvetica Neue", arial, sans-serif, "Segoe UI Emoji";

$link-color: $blue-000;

h1,
.text-alpha {
  font-weight: 900;

  @include fs-8;
}

h2,
.text-beta,
#toctitle {
  font-weight: 700;
  
  @include fs-6;
}

h3,
.text-gamma {
  font-weight: 700;
  
  @include fs-5;
}
